/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: linear-gradient(to bottom, #f0f1ff, #e1fcfe);
    line-height: 1.5;
  }
  
  h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Header styles */
  #title {
    margin: 3rem auto 2rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .intro {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    max-width: 60%;
    border-radius: 5px;
  }
  
  /* Entry styles */
  #entries {
    margin: 2rem auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .entry {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 5px;
    width: calc(50% - 1rem);
  }
  
  .entry img {
    max-width: 100%;
    display: block;
    margin: 0 auto 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .entry h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .entry p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
    #main {
      width: 90%;
    }
    
    #title h1 {
      font-size: 2.5rem;
    }
    
    .intro, .entry {
      max-width: 100%;
      padding: 1rem;
    }
    
    .entry img {
      margin: 0 auto;
    }
    
    .entry h2 {
      font-size: 1.8rem;
    }
    
    .entry p {
      font-size: 1rem;
      line-height: 1.3;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    #entries {
      max-width: 500px;
    }
    
    .entry {
      width: 100%;
    }
  }

  
  
  /* Scroll animation */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .entry {
    animation: fade-in 1s ease-out;
  }
  